.git
.github
node_modules
npm-debug.log
yarn-error.log
.env
.env.*
.phpunit.result.cache
tests
legacy
*.md
phpunit.xml
.editorconfig
.npmrc
docker/*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore

